.bigpoints_section {
  margin: 0 auto;
  padding: 0;

  .section-inner {
    width: 100%;
  }

  div[class^="col-"] {
    margin-bottom: 0.85rem;

    @include respond-to("tablet") {
      margin-bottom: 1rem;
    }

    &:last-child {
      p.p-0 {
        margin-bottom: 0;

        @include respond-to("tablet") {
          margin-bottom: 0.889rem;
        }
      }
    }
  }

  .card-container {
    padding: 0;

    &.brown_bg {
      background-color: $secondary-mushroom-50;
      padding: 32px;

      @include respond-to("tablet") {
        padding: 2.5rem 90px;
      }
    }

    .topContentBlock {
      @include respond-to("tablet") {
        margin-bottom: 1.5rem;
      }
    }

    .box {
      height: 100%;
      text-align: left;

      .p-0 {
        margin-top: 0;
      }

      .imgWrapper {
        img {
          max-width: auto;
          height: 90px;
        }
      }

      h4 {
        margin: 0 0 1rem 0;
      }

      .textWrapper {
        padding-top: 0;
      }
    }
  }
}
