section.flippingbook {
  .container {
    padding: 0;
    max-width: 100%;
    width: 100%;

    @include respond-to("small-tablet") {
      width: calc(100% - #{52px * 2});
      max-width: $small-tablet;
      padding: 0 52px;
    }

    @include respond-to("tablet") {
      width: calc(100% - #{64px * 2});
      max-width: $tablet;
      padding: 0 64px;
    }

    @include respond-to("desktop") {
      width: calc(100% - 128px);
      max-width: $desktop;
      padding: 0;
    }

    @include respond-to("large") {
      padding: 0;
      max-width: 1280px;
    }

    div[class^="col-"] {
      padding: 0;
    }
  }

  div a {
    padding: 140% 0 0 0 !important;

    @include respond-to("tablet") {
      padding: 96.24% 0 0 0 !important;
    }

    img {
      max-width: 100% !important;
      width: 100% !important;
      max-height: initial !important;

      @include respond-to("tablet") {
        max-width: 95% !important;
        width: 100% !important;
        max-height: 95% !important;
      }
    }
  }
}
