.insightHeroSection {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0 auto !important;

  .section-inner {
    width: 100%;
  }

  .row {
    @include respond-to("tablet") {
      display: flex;
    }

    display: block;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .insightBox {
    padding-bottom: 2rem;
    position: relative;

    .insightImage {
      width: 100%;
      height: auto;
    }
  }

  .contentBox {
    position: relative;
    padding: 0 2rem;
    top: -60px;

    @include respond-to("tablet") {
      max-width: 1280px;
      position: relative;
      margin: 0 auto;
      top: 30px;
      padding: 0;
    }

    .content {
      .topInfo {
        font-size: 0.72rem;
        padding: 0 0 0 0.45rem;
        border-left: 0.23rem solid #19aa19;

        &.casestudy {
          border-left-color: $primary-deep-purple;
        }

        &.publication {
          border-left-color: $secondary-mushroom;
        }

        &.news {
          border-left-color: $primary-cream;
        }

        &.video {
          border-left-color: $accent-red;
        }

        &.post {
          border-left-color: $primary-teal;
        }

        margin-bottom: 1rem;

        .category {
          margin-right: 0.68rem;
          font-weight: bold;
        }

        .date {
          color: #ddd;
        }
      }

      .title {
        margin: 0 0 1rem 0;
      }

      .body {
        font-size: 0.75rem;
      }
    }
  }

  .content_wrapper {
    position: relative;
    background-color: $primary-deep-purple;
    color: #fff;
    padding: 2rem;
    top: 0;

    @include respond-to("tablet") {
      width: 35%;
      padding: 2.667rem;
      position: absolute;
      right: 0;
      bottom: 0;
      top: unset;
    }
  }

  a {
    margin-top: 35px;
  }
}

.pos-rel {
  position: relative;
}
