.sub_nav_con {
  background-color: $primary-deep-purple;

  .sub_nav {
    ul {
      list-style: none;
      padding: 0.9rem 0;
      margin: 0;
      display: flex;
      overflow: auto;
      white-space: nowrap;
      align-items: center;

      li {
        margin-right: 2rem;
        padding: 0;

        a {
          text-decoration: none;
          color: #fff;
          font-size: 0.85rem;

          &.shareBtn {
            padding: 8px 15px;
            margin: 0;
          }
        }
      }
    }
  }
}

.rightAlignAuto {
  margin-left: auto;
}

.sharePopup {
  position: absolute;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: none;
  border-radius: 10px;
  width: 160px;
  z-index: 111111;
  margin-top: 16px;
  right: 0;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    background: #fff;
    position: absolute;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
    z-index: -1;
    top: -10px;
    right: 39px;
  }

  .sharePopupInner {
    padding: 2rem 1rem 1rem;
    background: #fff;
    border-radius: 10px;

    .closeIcon {
      position: absolute;
      right: 8px;
      top: 8px;
      height: 20px;
      width: 20px;
      cursor: pointer;
    }
  }

  .shareLink {
    &.copied {
      cursor: default;
      pointer-events: none;
    }
  }
}
